{% extends "base.html" %}

{% block title %}Area Personale{% endblock %}

{% block content %}
  <h1>Benvenuto, {{ user }}</h1>
  <p>Da qui potrai prenotare i tuoi allenamenti!</p>

  {% if prenotazioni %}
    <h2>Le tue prenotazioni</h2>
    <table>
      <tr>
        <th>Servizio</th>
        <th>Giorno</th>
        <th>Ora</th>
      </tr>
      {% for p in prenotazioni %}
      <tr>
        <td>{{ p.servizio }}</td>
        <td>{{ p.giorno }}</td>
        <td>{{ p.ora }}</td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>Non hai ancora prenotato nessun allenamento.</p>
  {% endif %}
{% endblock %}
